@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';

:root {
  .card {
    display: flex;
    align-items: flex-end;
    width: 100%;
    align-items: center;
    background-color: #d7e6d4;
    border-radius: 8px;
    cursor: pointer;
    color: #000000;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

    .details {
      display: flex;

      .details-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'ClashGrotesk-Regular,sans-serif!important';
        font-weight: 600;
        gap: 90px;
      }
    }
    .details p:nth-child(2) {
      color: #8f8f8f;
      font-weight: 700;
      font-family: 'ClashGrotesk-Regular,sans-serif!important';
    }
  }

}