@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  .search {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .search input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
  }
  .search input:hover {
    border-color: #ffffff;
  }
  .search input:focus-visible {
    outline: none;
  }
  .search button {
    width: 20%;
    border: none;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
  }
}
