$font-color: (
  words: #271718,
  title: #1F6D29,
  sub-title: #281815,
  select: #BFBFBF,
  button-range: #E2E2E2
);

$background: (
  button: #FFB521,
  header: #00000026,
  screen: #FFFFFF,
  check: #1F6D29,
  verified: #DC1E1D
);